
<div class="box">

  <!-- <p *ngIf="Testat; else noName" [ngStyle] ="{color: detColor()}">
    Mein Name is {{ name }} und ich habe {{ MU }} Mut! Testat = {{Testat}}
  </p>
  <ng-template #noName>
    <p [ngStyle] = "{color: detColor()}">
      Kein Name bekannt
    </p>
  </ng-template>


  <button class="btn btn-primary" (click)="onStatus()">
    Status
  </button>
  
  <p>
    {{Status}}
  </p>

  <label>
    Server Name
  </label>

  <input type="text" class ="form-control" [(ngModel)]="name"> -->
 
  <app-heldenbogen></app-heldenbogen> 

</div>