
<div class="box">
  
  <label>
    Helden Name
  </label>
  <input type="text" class ="form-control" [(ngModel)]="name">
  
    <button class="btn btn-primary" 
    (click)="onStatus()">
      Eintragen
    </button>

  <p [ngClass]="{hide: Testat}">
    Mein Name is {{ name }} und ich habe {{ MU }} Mut! {{Testat}}
  </p>

  
 <br>
 <p *ngFor = "let i of myArray"
 [ngStyle] = "{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
 [ngClass] = "{test: i >= 5}"
 >
   {{ i }}</p>


  <!-- <app-heldenbogen></app-heldenbogen>  -->

</div>