.box {
    background-color: #2F3133;    
    border-color: #090C0E;
    border-style: solid;
    border-width : 2px;
    border-radius: 2px; 
    box-shadow: 2px 2px 3px black;
    min-height: 100px;
    margin: 10px;
    margin-left: 5px; 
    padding: 0;
}

ul {
    margin: 0; 
    padding: 0;
}
li {
    border-radius: 10px; 
    font-size: larger;
    list-style: none;
    margin: 0; 
    padding: 10px;
    text-shadow: 2px 2px 3px black;
}
li:hover {
    background-color: white;
    color: black;
    font-size: 180%;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px;
    text-shadow: none;
}
li:active {
    background-color: white;
    color: black;
    font-size: 180%;
    font-weight: bold;
    padding: 4px;
    opacity: 0.5;
    padding-left: 10px;
    text-shadow: none;
}

.even {
    background-color: #444749;
    
}
.onedit {
    background-color: #071D9B;
}