<h4>Heldenbogen</h4>

<div class="name">
  <span class="row-name app-label">Namen:</span>
  <span [ngClass]="{edit: edit_mode}">
    {{name}}
  </span>
  <span [ngClass]="{edit: !edit_mode}">
    <input type="text" 
    style=" width: 200px; height:25px; display: inline-block" 
    class = "form-control"     
    [(ngModel)] ="name">
  </span>
</div>

<div class="Werte">
  <ul class="app-label-main">
    <li class="app-label">MU:</li>
    <li class="app-label">KL:</li>
    <li class="app-label">IN:</li>
    <li class="app-label">CH:</li>
    <li class="app-label">FF:</li>
    <li class="app-label">GE:</li>
    <li class="app-label">KO:</li>
    <li class="app-label">KK:</li>
  </ul>
  <ul class="app-entry-main">
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{MU}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{KL}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{IN}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{CH}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{FF}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{GE}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{KO}} </li>
      <li class="app-entry" [ngClass]="{edit: edit_mode}"> {{KK}} </li>
  </ul>
  <ul class="app-input-main">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="MU">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="KL">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="IN">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="CH">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="FF">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="GE">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="KO">
      <input type="text" class = "form-control" [ngClass]="{edit: !edit_mode}" [(ngModel)] ="KK">
  </ul>
  <br>
<button class="btn button-primary" (click)="onEdit()">{{edit_label}}</button>
  